//------------flex-------------------------------
.my-display-flex {
    display: flex;

}

.my-flex{

    &-center {
        justify-content: center;
        align-items: center;
    }

    &-wrap {
        flex-wrap: wrap;
        //flex-direction: row;
    }

    &-gap-10 > div {
        margin: 10px;
    }
    
}



