.flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 10px;

}


.box {
    padding: 10px 15px;
    background: gold;
    color: #fff;
    margin: 5px;
    white-space: nowrap;
    border-radius: 20px;

}


.btn {
    outline: 0;
    border: 0;
    padding: 10px 15px;
    white-space: nowrap;
}

.btn--primary {
    background: rgb(211, 29, 29);
    color: #fff;
    border-radius: 40px;
    font-size: 1.8rem;
}


.btn--primary:focus {
    background: rgb(226, 17, 17);
}