*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    padding: 10px;
    font-size: 1.7rem;
}


//in css top to bottom for import

@import './variables/variables';

@import './modules/button';
@import './modules/alert';
@import './modules/input';
@import './modules/card';
@import './modules/label';
@import './modules/dropdowns';

//--------container----------------------------
.my-container-fluid{
    width: 100%;
}


//---------height--------------------------------
.my-height-100{
    height: 100vh;
}


//------------------center-text-----------------
.my-text-center{
    text-align: center;
}


//---------------margins------------
.my-margin-bottom-10{
    margin-bottom: 10px;
}

//------------flex-------------------------------
.my-display-flex{
    display: flex;
}

.my-flex-center{
    justify-content: center;
    align-items: center;
}

.my-flex-wrap{
    flex-wrap: wrap;
    //flex-direction: row;
}


//--------------forms----------------------------------
.my-form-group,
.my-form-button {
    margin-bottom: 14px;
}


.my-form-button .my-btn{
    padding: 10px 20px;
    border-radius:$input-border-radius;
}


//----boxes--------------------------------------------
.my-box {
    padding: 10px 15px;
    background: gold;
    color: #fff;
    margin: 5px;
    white-space: nowrap;
    border-radius: 20px;
}


//------select----------------------------------------------
.my-select{
    outline: 0;
    padding: 10px;
    min-width: 200px;
    border: 1px solid #D3D3D3;
}


