*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    padding: 10px; //not good pratice, simply done
    font-size: 1.7rem;
}


//in css top to bottom for import

@import './variables/variables';

@import './modules/button';
@import './modules/alert';
@import './modules/input';
@import './modules/card';
@import './modules/label';
@import './modules/dropdowns';
@import './modules/flex';
@import './modules/grid';

//--------container----------------------------
.my-container-fluid {
    width: 100%;
}

.w-80 {
    width: 80%;
}


//---center using margin
.my-mx-auto {
    margin-left: auto;
    margin-right: auto;
}


//---------height--------------------------------
.my-height-100 {
    height: 100vh;
}


//------------------center-text-----------------
.my-text-center {
    text-align: center;
}


//---------------margins------------
.my-margin-bottom-10 {
    margin-bottom: 10px;
}


//--------------forms----------------------------------
.my-form-group,
.my-form-button {
    margin-bottom: 14px;
}


.my-form-button .my-btn {
    padding: 10px 20px;
    border-radius: $input-border-radius;

}


//----boxes--------------------------------------------
.my-box {
    padding: 10px;
    background: gold;
    color: #fff;
    // margin: 5px;
    white-space: nowrap;
    // border-radius: 20px;


    &-white {
        border: 1px solid black;
        background: #fff;
        color: black;
    }

    &-square-100 {
        height: 100px;
        width: 100px;
        ;
    }
}





//------select----------------------------------------------
.my-select {
    outline: 0;
    padding: 10px;
    min-width: 200px;
    border: 1px solid #D3D3D3;
}